.navbar {
    width: 100vw;
    height: auto;

    display: flex;
    position: absolute;
    justify-content: space-between;

    padding: 48px 96px;
}

.navbar > * {
    height: 72px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid #000000;
    border-radius: 64px;
}

.navbar__logo {
    font-family: Deltha;
    padding: 16px;
}

.navbar__links,
.navbar__auth {
    font-family: TT Travels Medium;
}

.navbar__links {
    padding: 16px 32px;
    gap: 32px;
}

.navbar__links h3 {
    height: 30px;
    text-align: center;
}

.navbar__auth {
    padding: 16px;
    gap: 16px;
}

.navbar__auth h3 {
    height: 30px;
    text-align: center;
}
