.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 2rem 6rem;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    
}

.navbar > * {
    height: 62px;
    background-color: #f3f3f3b0;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid #000;
    border-radius: 64px;
    box-sizing: border-box;
}

.navbar__logo {
    font-family: Deltha;

    padding: 1rem 2rem;
    font-size: 1rem;
}

.navbar__links,
.navbar__auth {
    font-family: TT Travels Medium;
    display: flex;
}

.navbar__links {
    padding: 1rem 2rem;
    gap: 2rem;
}

.navbar__user {
    padding: 1rem;
    gap: 1rem;
}

.navbar__user button {
    padding: 0.5rem 1.5rem;
}

.navbar__auth {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
