.welcome {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto;
    padding-top: 110px;
}

.welcome__info {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 4rem;
}

.welcome__info__text {
    text-align: left;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.welcome__info__text > h1 {
    font-family: TT Travels Bold;
    font-size: 4rem;
    line-height: 1.1;
}

.welcome__info__text > h3 {
    font-family: TT Travels Regular;
    font-size: 1.5rem;
    line-height: 1.4;
}

.welcome__info__buttons {
    width: 100%;

    display: flex;
    gap: 1rem;
}

.welcome__image__container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.welcome__image__container > img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    .btn-basic-blur, .btn-basic-black {
        width: 100%;
    }

    .welcome__info {
        flex: 1 1;
    }

    .welcome__info__text {
        text-align: center;
    }

    .welcome__info__text > h1 {
        font-size: 2.5rem;
        line-height: 0.9;
    }

    .welcome__info__text > h3 {
        font-size: 1rem;
    }

    .welcome__info__buttons {
        align-items: center;
        flex-direction: column;
    }

    .welcome__info__buttons > a {
        width: 100%;
    }

    .welcome__image__container {
        display: none;
    }
}
